<h1><%= t :warehouses_title %></h1>

  <% if @warehouses.empty? %>
    <div>
      <%= t :warehouses_0 %>
    </div>
  <% else %>
    <dl>
      <% @warehouses.each do |w| %>
        <dt><%= w.name %> - <%= w.code %> </dt>
        <dd>
          <%= w.city %>
          <%= w.area %> m²
        </dd>
      <% end %>
    </dl>
  <% end %>