<div id='error_msgs'>
  <% if @warehouse.errors.any? %>
    <ul>
    <% @warehouse.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<h1>Alterar dados do galpão</h1>

<%= form_with model: @warehouse do |form| %>
<dl>
  <dt><%= form.label :name %></dt>
  <dd><%= form.text_field :name %></dd>

  <dt><%= form.label :code %></dt>
  <dd><%= form.text_field :code %></dd>

  <dt><%= form.label :area %></dt>
  <dd><%= form.number_field :area %></dd>

  <dt><%= form.label :description %></dt>
  <dd><%= form.text_area :description, size: '30x5', placeholder: 'Principais atividades deste galpão.' %></dd>
  
  <div>Endereço</div>
  <dt><%= form.label :directions %></dt>
  <dd><%= form.text_field :directions %></dd>
  
  <dt><%= form.label :city %></dt>
  <dd><%= form.text_field :city %></dd>
  
  <dt><%= form.label :state %></dt>
  <dd><%= form.text_field :state %></dd>
  
  <dt><%= form.label :cep %></dt>
  <dd><%= form.text_field :cep %></dd>
  
  <div><%= form.submit %></div>
</dl>

<% end %>