<section>

  <h1><%= @warehouse.code + ' - ' + @warehouse.name %></h1>
  <dl>
    <dt>Área:</dt>
    <dd><%= @warehouse.area %> m²</dd>
    <dt>Descrição:</dt>
    <dd><%= @warehouse.description %></dd>
    <dt>Endereço:</dt>
    <dd><%= "#{@warehouse.directions}, #{@warehouse.city}, #{@warehouse.state} - #{@warehouse.cep}" %></dd>
  </dl>
</section>

<div>
  <%= link_to 'Voltar', root_path %>
</div>
<div>
  <%# link_to 'Apagar galpão', warehouse_path(@warehouse), method: :delete %>
  <%= button_to 'Apagar galpão', warehouse_path(@warehouse), method: :delete %>
</div>
<div>
  <%= link_to 'Editar galpão', edit_warehouse_path %>
</div>