<div id='error_msgs'>
  <% if @manufacturer.errors.any? %>
    <ul>
    <% @manufacturer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<h1>Cadastrar novo fornecedor</h1>

<%= form_with model: @manufacturer do |f| %>
<dl>
  <dt><%= f.label :tradename %></dt>
  <dd><%= f.text_field :tradename %></dd>

  <dt><%= f.label :registered_name %></dt>
  <dd><%= f.text_field :registered_name %></dd>

  <dt><%= f.label :cnpj %></dt>
  <dd><%= f.text_field :cnpj %></dd>

  <dt><%= f.label :address %></dt>
  <dd><%= f.text_field :address %></dd>

  <dt><%= f.label :email %></dt>
  <dd><%= f.text_field :email %></dd>

  <dt><%= f.label :telephone %></dt>
  <dd><%= f.text_field :telephone %></dd>
</dl>
<div><%= f.submit 'Cadastrar fornecedor' %></div>
<% end %>