<h1>Detalhes de Fornecedor</h1>

<div>
  <dl>
    <dt>Nome fantasia</dt>
    <dd><%= @manufacturer.tradename %></dd>

    <dt>Razão social</dt>
    <dd><%= @manufacturer.registered_name %></dd>

    <dt>CNPJ</dt>
    <dd><%= @manufacturer.cnpj %></dd>

    <dt>Endereço</dt>
    <dd><%= @manufacturer.address %></dd>

    <dt>E-mail</dt>
    <dd><%= @manufacturer.email %></dd>

    <dt>Telefone</dt>
    <dd><%= @manufacturer.telephone %></dd>
  </dl>
</div>
